.navbar {
    overflow: hidden;
}
.navbar ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
}
.navbar li {
    line-height: 40px;
    display: inline;
}
.navbar a {
    padding: 5px;
    text-decoration: none;
}
.navbar a:hover {
    color: black;
    background-color: #008000;
}